body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px; /* Adjust the margin as needed */
}

.header-address {
  display: flex;
  align-items: top;
}

.logo-section {
  margin-right: 20px;
}

.company-details-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-details-section div {
  margin-bottom: 10px; /* Add margin between items */
}

/* Style for the label in company-details-section */
.company-details-section label {
  align-self: flex-start; /* Align label to the start of its container */
}

/* Style for the textarea in company-details-section */
.company-details-section textarea {
  resize: none; /* Disable textarea resizing */
}

.header-container label {
  margin-right: 5px;
  font-size: 12px;
}

.company-details-section label {
  margin-right: 5px;
  font-size: 12px;
}

.quotation-detail label {
  margin-right: 5px;
  font-size: 12px;
}

#positions {
  display: flex;
  flex-direction: column;
}

#positions div {
  margin-bottom: 10px; /* Add space between position items */
}

#positions input {
  border: none;
  background-color: transparent;
  margin-right: 10px; /* Add space between input items */
}

#positions label {
  margin-right: 5px;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align to the right */
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

#quotationDetails {
  display: flex;
  flex-direction: column;
}

.quotation-detail {
  margin-bottom: 10px;
}

.quotation-detail label {
  margin-right: 5px;
}

@media print {
  /* Hide the logo input and make the logo display visible */
  #logo, .logo-section label {
    display: none;
  }

  #logoDisplay {
    display: block;
  }

  /* Hide labels in header-container and its subcontainers
  .header-container label,
  .company-details-section label,
  .quotation-detail label {
    display: none;
  } */

  /* Hide input borders and backgrounds in positions div */
  #positions input {
    border: none;
    background-color: transparent;
  }

  /* Remove border from the company details section */
  .company-details-section {
    border: none;
    padding: 0;
  }

  /* Hide print and add position buttons during printing */
  #positions button,
  #summary button {
    display: none;
  }

  /* Remove text fields and textarea borders during printing */
  input[type="text"],
  input[type="tel"],
  textarea,
  input[type="date"],
  input[type="number"] {
    border: none;
  }
}